# --------------------
# Virtual Environments
# --------------------
env/
env3/
.venv/

# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc

# --------------------
# Data files
# --------------------
*.csv
*.xlsx
*.pickle
*.pkl

# --------------------
# Result / output folders
# --------------------
Data/
Final_results/
ML_results/
TS_results/
vector_db/
vessel_data/
utils/__pycache__/

# --------------------
# Logs & temp files
# --------------------
*.log
*.txt
query_context_*.txt

# --------------------
# Model & embeddings
# --------------------
vector_store/

# --------------------
# ML / DL Models
# --------------------
*.keras
*.h5
*.joblib

# Ignore model folders
utils/AE_model/
utils/ML_model/
utils/TS_model/

